import { {{pascalCase name}}Props } from './types'

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}

export default {{pascalCase name}}
